<!-- Begin Navbar -->
<div
    class="flex flex-col w-64 h-screen py-8 border-r bg-gray-800 border-gray-600">
    <h2 class="text-3xl font-semibold text-center text-gray-800 text-white">
        Cinemáticos</h2>

    <!-- User info -->
    <div class="flex flex-col items-center mt-6 -mx-2">
        <img class="object-cover w-24 h-24 mx-2 rounded-full"
             src="{{ user_avatar_url }}"
             alt="your avatar">
        <h4 class="mx-2 mt-2 font-medium text-gray-200 hover:underline">
            {{ user_fullname }}</h4>
        <p class="mx-2 mt-1 text-sm font-medium text-gray-400 hover:underline">
            @{{ username }}</p>
    </div>

    <div class="flex flex-col justify-between flex-auto mt-6">
        <nav>
            <a
                {% if active_tab == 'feed' %}
                    class="flex items-center px-4 py-2 bg-gray-700 text-gray-200"
                {% else %}
                    class="flex items-center px-4 py-2 mt-5 transition-colors duration-200 transform text-gray-400 hover:bg-gray-700 hover:text-gray-200"
                {% endif %}
                    href="{{ feed_url }}">
                <i class="fa fa-book" aria-hidden="true"></i>
                <span class="mx-4 font-medium">Feed</span>
            </a>

            <a
                {% if active_tab == 'follow' %}
                    class="flex items-center px-4 py-2 bg-gray-700 text-gray-200"
                {% else %}
                    class="flex items-center px-4 py-2 mt-5 transition-colors duration-200 transform text-gray-400 hover:bg-gray-700 hover:text-gray-200"
                {% endif %}
                    href="{{ follow_url }}">
                <i class="fa fa-user" aria-hidden="true"></i>
                <span class="mx-4 font-medium">Seguindo</span>
            </a>

            <a
                {% if active_tab == 'post' %}
                    class="flex items-center px-4 py-2 bg-gray-700 text-gray-200"
                {% else %}
                    class="flex items-center px-4 py-2 mt-5 transition-colors duration-200 transform text-gray-400 hover:bg-gray-700 hover:text-gray-200"
                {% endif %}
                    href="{{ post_url }}">
                <i class="fa fa-pencil" aria-hidden="true"></i>
                <span class="mx-4 font-medium">Postar</span>
            </a>

            <a
                {% if active_tab == 'logout' %}
                    class="flex items-center px-4 py-2 bg-gray-700 text-gray-200"
                {% else %}
                    class="flex items-center px-4 py-2 mt-5 transition-colors duration-200 transform text-gray-400 hover:bg-gray-700 hover:text-gray-200"
                {% endif %}
                    href="{{ logout_url }}">
                <i class="fa fa-arrow-right text-gray-600"></i>
                <span class="mx-4 font-medium">Sair</span>
            </a>
        </nav>
    </div>
</div>

<!-- End Navbar -->
