{% extends 'blocks/base_with_nav.html' %}

{% block content %}
    <div
        class="w-full md:w-3/4 lg:w-4/5 p-5 md:px-12 lg:24 h-full overflow-x-scroll antialiased">

        {% include "blocks/search_bar.html" %}

        <div class="bg-white mt-3 rounded overflow-hidden">
            <div class="p-4 text-left bg-white shadow-lg">
                <div class="mt-3 flex flex-col"></div>
                <h3 class="text-2xl font-bold text-center">Seguindo</h3>
                <div class="flex">
                    <div class="w-full p-4">
                        <form method="get">
                            <input type="text" placeholder="Pesquisar" name="query"
                                   class="w-full px-4 py-2 mt-2 border rounded-md focus:outline-none focus:ring-1 focus:ring-blue-600">
                        </form>
                        {% if not users %}
                            <p class="text-gray-500 text-xl mt-2 mx-auto w-full text-center">
                                <em>
                                    Essa lista está vazia
                                </em>
                            </p>
                        {% endif %}
                        <ul>
                            {% for user in users %}
                                <li class="flex flex-wrap align-center items-center lg:justify-between bg-white mt-2 p-2 hover:shadow-md rounded cursor-pointer transition flex-col lg:flex-row">
                                    <div class="flex">
                                        <img
                                            src="{{ user.avatar_url }}"
                                            class="rounded-full w-12" alt="avatar">
                                        <div class="flex flex-col ml-2"><span
                                            class="font-medium text-gray-800">{{ user.get_full_name }}</span>
                                            <span
                                                class="text-sm text-gray-400 truncate">@{{ user.username }}</span>
                                        </div>
                                    </div>
                                    <div class="flex ml-2 mt-2 lg:mt-0">
                                        <a
                                            href="{{ feed_url }}?author={{ user.id }}"
                                            class="animation duration-200 border border-indigo-400 text-indigo-400 hover:bg-indigo-400 hover:text-white p-2 rounded-lg mr-2">
                                            Ver Posts
                                        </a>
                                        {% if user.id not in following_ids %}
                                            <form method="post" action="{{ user.follow_url }}">
                                                {% csrf_token %}
                                                <button type="submit"
                                                    class="animation duration-200 border border-indigo-400 text-indigo-400 hover:bg-indigo-400 hover:text-white p-2 rounded-lg mr-2">
                                                    Seguir
                                                </button>
                                            </form>
                                        {% else %}
                                            <form method="post" action="{{ user.follow_url }}">
                                                {% csrf_token %}
                                                <input hidden="hidden" name="remove"
                                                       value="1">
                                                <button
                                                    type="submit"
                                                    class="animation duration-200 border border-red-400 text-red-400 hover:bg-red-400 hover:text-white p-2 rounded-lg mr-2">
                                                    Deixar de Seguir
                                                </button>
                                            </form>
                                        {% endif %}
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
