{% extends 'blocks/base_with_nav.html' %}

{% block content %}
    <div
        class="w-full md:w-3/4 lg:w-4/5 p-5 md:px-12 lg:24 h-full overflow-x-scroll antialiased">

        {% include "blocks/search_bar.html" %}

        <div class="flex align-center justify-center mt-3">
            {% if previous_page_url %}
                <a class="mx-2 text-indigo-500 border-b-2 border-indigo-500"
                   href="{{ previous_page_url }}">
                    <i class="fa fa-arrow-left" aria-hidden="true"></i>
                    <span class="font-semibold">
                    Anterior
                </span>
                </a>
            {% endif %}
            {% if next_page_url %}
                <a class="mx-2 text-indigo-500 border-b-2 border-indigo-500"
                   href="{{ next_page_url }}">
                <span class="font-semibold">
                    Próximo
                </span>
                    <i class="fa fa-arrow-right" aria-hidden="true"></i>
                </a>
            {% endif %}
        </div>
        {% if not titles %}
            <p class="text-center text-xl text-indigo-500">Nenhum resultado
                encontrado :(</p>
        {% endif %}
        {% for title in titles %}
            <!-- Post -->
            <div class="bg-white mt-3 rounded overflow-hidden">
                <section class="text-gray-600 body-font">
                    <div class="container px-5 py-6 mx-auto">
                        <div class="mx-auto flex flex-nowrap lg:flex-row flex-col">
                            <!-- Image -->
                            <div
                                class="object-cover object-center flex flex-1 lg:pr-2 md:mb-2">
                                {% if title.poster_url %}
                                    <img alt="poster"
                                         class="grow-0 max-w-full max-h-full w-full m-auto rounded"
                                         src="{{ title.poster_url }}">
                                {% endif %}
                            </div>
                            <div class="w-full flex-1">
                                <!-- Film name with TMDB link -->
                                <h1 class="text-gray-900 text-3xl title-font font-medium mb-1 underline decoration-indigo-400 decoration-2">
                                    <a href="{{ title.external_url }}"
                                       target="_blank">
                                        {{ title.name }}
                                    </a>
                                </h1>
                                <!-- Star Rating -->
                                <div class="mt-5 flex mb-4">
                                    <span class="flex items-center">
                          <svg
                              {% if title.vote_average >= 1 %}
                                  fill="currentColor"
                              {% else %}
                                  fill="none"
                              {% endif %}
                                  stroke="currentColor"
                                  stroke-linecap="round" stroke-linejoin="round"
                                  stroke-width="2" class="w-4 h-4 text-indigo-500"
                                  viewBox="0 0 24 24">
                            <path
                                d="M12 2l3.09 6.26L22 9.27l-5 4.87 1.18 6.88L12 17.77l-6.18 3.25L7 14.14 2 9.27l6.91-1.01L12 2z"></path>
                          </svg>
                          <svg
                              {% if title.vote_average >= 3 %}
                                  fill="currentColor"
                              {% else %}
                                  fill="none"
                              {% endif %}
                                  stroke="currentColor"
                                  stroke-linecap="round" stroke-linejoin="round"
                                  stroke-width="2" class="w-4 h-4 text-indigo-500"
                                  viewBox="0 0 24 24">
                            <path
                                d="M12 2l3.09 6.26L22 9.27l-5 4.87 1.18 6.88L12 17.77l-6.18 3.25L7 14.14 2 9.27l6.91-1.01L12 2z"></path>
                          </svg>
                          <svg
                              {% if title.vote_average >= 5 %}
                                  fill="currentColor"
                              {% else %}
                                  fill="none"
                              {% endif %}
                                  stroke="currentColor"
                                  stroke-linecap="round" stroke-linejoin="round"
                                  stroke-width="2" class="w-4 h-4 text-indigo-500"
                                  viewBox="0 0 24 24">
                            <path
                                d="M12 2l3.09 6.26L22 9.27l-5 4.87 1.18 6.88L12 17.77l-6.18 3.25L7 14.14 2 9.27l6.91-1.01L12 2z"></path>
                          </svg>
                          <svg
                              {% if title.vote_average >= 7 %}
                                  fill="currentColor"
                              {% else %}
                                  fill="none"
                              {% endif %}
                                  stroke="currentColor"
                                  stroke-linecap="round" stroke-linejoin="round"
                                  stroke-width="2" class="w-4 h-4 text-indigo-500"
                                  viewBox="0 0 24 24">
                            <path
                                d="M12 2l3.09 6.26L22 9.27l-5 4.87 1.18 6.88L12 17.77l-6.18 3.25L7 14.14 2 9.27l6.91-1.01L12 2z"></path>
                          </svg>
                          <svg
                              {% if title.vote_average >= 9 %}
                                  fill="currentColor"
                              {% else %}
                                  fill="none"
                              {% endif %}
                                  stroke="currentColor"
                                  stroke-linecap="round" stroke-linejoin="round"
                                  stroke-width="2" class="w-4 h-4 text-indigo-500"
                                  viewBox="0 0 24 24">
                            <path
                                d="M12 2l3.09 6.26L22 9.27l-5 4.87 1.18 6.88L12 17.77l-6.18 3.25L7 14.14 2 9.27l6.91-1.01L12 2z"></path>
                          </svg>
                        <span
                            class="ml-1 text-indigo-500 font-bold">{{ title.vote_average }}</span>
                        </span>
                                </div>
                                <!-- Content -->
                                <p class="leading-relaxed mb-2 text-justify">
                                    {% if title.overview %}
                                        {{ title.overview }}
                                    {% else %}
                                        <em>Não temos uma descrição para este título no
                                            momento.</em>
                                    {% endif %}
                                </p>
                                <div class="flex">
                                    <div class="w-full">
                                        <a
                                            href="{{ title.create_post_url }}"
                                            class="float-right bg-indigo-600 hover:bg-indigo-400 text-white p-2 rounded-lg">
                                            Postar
                                        </a>
                                        <button type="button"
                                                class="float-right animation duration-200 border border-indigo-400 text-indigo-400 hover:bg-indigo-400 hover:text-white p-2 rounded-lg mr-2">
                                            Ver postagens
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        {% endfor %}
        <div class="flex align-center justify-center mt-3">
            {% if previous_page_url %}
                <a class="mx-2 text-indigo-500 border-b-2 border-indigo-500"
                   href="{{ previous_page_url }}">
                    <i class="fa fa-arrow-left" aria-hidden="true"></i>
                    <span class="font-semibold">
                    Anterior
                </span>
                </a>
            {% endif %}
            {% if next_page_url %}
                <a class="mx-2 text-indigo-500 border-b-2 border-indigo-500"
                   href="{{ next_page_url }}">
                <span class="font-semibold">
                    Próximo
                </span>
                    <i class="fa fa-arrow-right" aria-hidden="true"></i>
                </a>
            {% endif %}
        </div>
    </div>
{% endblock %}
