{% extends 'blocks/base_with_nav.html' %}

{% block content %}
    <div
        class="w-full md:w-3/4 lg:w-4/5 p-5 md:px-12 lg:24 h-full overflow-x-scroll antialiased">
        <nav class="shadow bg-gray-800">
            <div class="container px-6 py-3 mx-auto md:flex">
                <div class="flex items-center justify-between">
                    <div>
                        <a class="text-2xl font-bold transition-colors duration-200 transform text-white lg:text-3xl hover:text-gray-300"
                           href="#">Pesquisa</a>
                    </div>
                </div>

                <!-- Mobile Menu open: "block", Menu closed: "hidden" -->
                <div class="w-full md:flex md:items-center md:justify-between">
                    <div
                        class="flex flex-col px-2 py-3 -mx-4 md:flex-row md:mx-0 md:py-0">
                    </div>

                    <div class="relative">
                            <span
                                class="absolute inset-y-0 left-0 flex items-center pl-3">
                                <svg class="w-5 h-5 text-gray-400" viewBox="0 0 24 24"
                                     fill="none">
                                    <path
                                        d="M21 21L15 15M17 10C17 13.866 13.866 17 10 17C6.13401 17 3 13.866 3 10C3 6.13401 6.13401 3 10 3C13.866 3 17 6.13401 17 10Z"
                                        stroke="currentColor" stroke-width="2"
                                        stroke-linecap="round"
                                        stroke-linejoin="round"></path>
                                </svg>
                            </span>

                        <input type="text"
                               class="w-full py-2 pl-10 pr-4 border rounded-md bg-gray-800 text-gray-300 border-gray-600 focus:border-blue-300 focus:outline-none focus:ring focus:ring-opacity-40 focus:ring-blue-300"
                               placeholder="Pesquisar">
                    </div>
                </div>
            </div>
        </nav>

        {% for title in titles %}
            <!-- Post -->
            <div class="bg-white mt-3">
                <section class="text-gray-600 body-font overflow-hidden">
                    <div class="container px-5 py-6 mx-auto">
                        <div class="lg:w-4/5 mx-auto flex flex-wrap">
                            <!-- Image -->
                            <div
                                class="lg:w-1/2 lg:h-auto object-cover object-center flex flex-grow">
                                <img alt="ecommerce"
                                     class="grow-0 max-w-full max-h-full w-full m-auto rounded"
                                     src="{{ title.poster_url }}">
                            </div>
                            <div class="lg:w-1/2 w-full lg:pl-10 lg:py-6 mt-6 lg:mt-0">
                                <!-- Film name with TMDB link -->
                                <h1 class="text-gray-900 text-3xl title-font font-medium mb-1 underline decoration-indigo-400 decoration-2">
                                    <a href="{{ title.external_url }}"
                                       target="_blank">{{ title.name }}</a>
                                </h1>
                                <!-- Star Rating -->
                                <div class="mt-5 flex mb-4">
                                    <span class="flex items-center">
                          <svg
                              {% if title.vote_average >= 1 %}
                                  fill="currentColor"
                              {% else %}
                                  fill="none"
                              {% endif %}
                                  stroke="currentColor"
                                  stroke-linecap="round" stroke-linejoin="round"
                                  stroke-width="2" class="w-4 h-4 text-indigo-500"
                                  viewBox="0 0 24 24">
                            <path
                                d="M12 2l3.09 6.26L22 9.27l-5 4.87 1.18 6.88L12 17.77l-6.18 3.25L7 14.14 2 9.27l6.91-1.01L12 2z"></path>
                          </svg>
                          <svg
                              {% if title.vote_average >= 3 %}
                                  fill="currentColor"
                              {% else %}
                                  fill="none"
                              {% endif %}
                                  stroke="currentColor"
                                  stroke-linecap="round" stroke-linejoin="round"
                                  stroke-width="2" class="w-4 h-4 text-indigo-500"
                                  viewBox="0 0 24 24">
                            <path
                                d="M12 2l3.09 6.26L22 9.27l-5 4.87 1.18 6.88L12 17.77l-6.18 3.25L7 14.14 2 9.27l6.91-1.01L12 2z"></path>
                          </svg>
                          <svg
                              {% if title.vote_average >= 5 %}
                                  fill="currentColor"
                              {% else %}
                                  fill="none"
                              {% endif %}
                                  stroke="currentColor"
                                  stroke-linecap="round" stroke-linejoin="round"
                                  stroke-width="2" class="w-4 h-4 text-indigo-500"
                                  viewBox="0 0 24 24">
                            <path
                                d="M12 2l3.09 6.26L22 9.27l-5 4.87 1.18 6.88L12 17.77l-6.18 3.25L7 14.14 2 9.27l6.91-1.01L12 2z"></path>
                          </svg>
                          <svg
                              {% if title.vote_average >= 7 %}
                                  fill="currentColor"
                              {% else %}
                                  fill="none"
                              {% endif %}
                                  stroke="currentColor"
                                  stroke-linecap="round" stroke-linejoin="round"
                                  stroke-width="2" class="w-4 h-4 text-indigo-500"
                                  viewBox="0 0 24 24">
                            <path
                                d="M12 2l3.09 6.26L22 9.27l-5 4.87 1.18 6.88L12 17.77l-6.18 3.25L7 14.14 2 9.27l6.91-1.01L12 2z"></path>
                          </svg>
                          <svg
                              {% if title.vote_average >= 9 %}
                                  fill="currentColor"
                              {% else %}
                                  fill="none"
                              {% endif %}
                                  stroke="currentColor"
                                  stroke-linecap="round" stroke-linejoin="round"
                                  stroke-width="2" class="w-4 h-4 text-indigo-500"
                                  viewBox="0 0 24 24">
                            <path
                                d="M12 2l3.09 6.26L22 9.27l-5 4.87 1.18 6.88L12 17.77l-6.18 3.25L7 14.14 2 9.27l6.91-1.01L12 2z"></path>
                          </svg>
                        <span
                            class="ml-1 text-indigo-500 font-bold">{{ title.vote_average }}</span>
                        </span>
                                </div>
                                <!-- Content -->
                                <p class="leading-relaxed mb-2">
                                    {% if title.overview %}
                                        {{ title.overview }}
                                    {% else %}
                                        <em>Não temos uma descrição para este título no
                                            momento.</em>
                                    {% endif %}
                                </p>
                                <div class="flex">
                                    <div class="w-full">
                                        <button type="button"
                                                class="float-right bg-indigo-600 hover:bg-indigo-400 text-white p-2 rounded-lg">
                                            Postar
                                        </button>
                                        <button type="button"
                                                class="float-right animation duration-200 border border-indigo-400 text-indigo-400 hover:bg-indigo-400 hover:text-white p-2 rounded-lg mr-2">
                                            Ver postagens
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        {% endfor %}
    </div>
{% endblock %}
